.tags {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  margin: 0;
  font-size: 0.9em; }
  .tags__title {
    display: inline;
    margin-right: 1ex; }
  .tags__tag {
    display: inline;
    margin-left: 0; }
    .tags__tag:after {
      content: ", "; }
    .tags__tag:last-child:after {
      content: ""; }
