@import '../../tools.mixins';

.tags {
	@include break-long-words;
	margin: 0;
	font-size: 0.9em;
	&__title {
		display: inline;
		margin-right: 1ex;
	}

	&__tag {
		display: inline;
		margin-left: 0;
		&:after {
			content: ", ";
		}
		&:last-child:after {
			content: "";
		}
	}
}