@import '../../settings.global';

.photoset {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
@media (min-width: $tablet) {
	.photoset {
		flex-direction: row;
		flex-wrap: wrap;
	}
}