@import '../../settings.global';

.search {
	width: 100%;
}
.search__input {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08),
		0 0 0 1px rgba(0, 0, 0, 0.08);
	border: none;
	padding: 8px;
	width: calc(100% - 10px);
}

@media(min-width: $tablet) {
	.search {
		width: 30%;
	}
}