@import '../../settings.global';
@import '../../tools.mixins';
@import '../../elements.links';

.photo {
	padding: 9px;
	margin: 9px;
	background: #fff;
	border-radius: 3px;
	&:hover {
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08),
			0 0 0 1px rgba(0, 0, 0, 0.08);
	}
	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		padding-bottom: 100%;
		margin-bottom: 8px;
		display: block;
	}
	&__details {
		display: flex;
	}
	&__title {
		margin-right: 0.3em;
	}
	&__author {
		margin-left: 0.3em;
	}
	&__description {
		@include break-long-words;
		margin-bottom: 2em;
		display: none;
	}
}

.fixed-col {
	flex-shrink: 0;
}

@media(min-width: $tablet) {
	.photo {
		width: 30%;
	}
}

@media(min-width: $desktop) {
	.photo {
		width: 20%;
	}
}