.link {
	color: #000;
	font-weight: 600;
	max-width: 100%;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	&:hover {
		text-decoration: underline;
		color: #006dac;
	}
}