@import url("https://fonts.googleapis.com/css?family=Roboto");
@import './elements.loader';

html,
body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #f3f5f6;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.app {
	font-size: 0.9em;
}